In [2]:
import pandas as pd
import numpy as np

## Pandas Data Series

### #1

In [4]:
#create and display a one dimensional array

arr = pd.DataFrame([1,3,5,7,11,13,17,19])

print(arr)

    0
0   1
1   3
2   5
3   7
4  11
5  13
6  17
7  19

### #2

In [7]:
#convert pandas Series object to list

ds = pd.Series([1,2,3,4,5])

print(ds)
print(ds.tolist())

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1, 2, 3, 4, 5]

### #3

In [8]:
# program to +, -, *, /, two pandas series

ds1 = pd.Series([1,2,3,4])
ds2 = pd.Series([5,6,7,8])

print(ds1 + ds2)
print(ds1 - ds2)
print(ds1 * ds2)
print(ds1 / ds2)

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64
0     5
1    12
2    21
3    32
dtype: int64
0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

### #4

In [9]:
# compare elements of two series

ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])

print(ds1 == ds2)
print(ds1 > ds2)
print(ds1 < ds2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

### #5

In [10]:
# convert dict to pandas Series

dict1 = {'a':100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

ds = pd.Series(dict1)
print(ds)

a    100
b    200
c    300
d    400
e    500
dtype: int64

### #6

In [4]:
#use pandas to convert numpy array to pandas series

arr = np.array([10,20,30,40,50])

ds = pd.Series(arr)
print(ds)

0    10
1    20
2    30
3    40
4    50
dtype: int32

### #7

In [13]:
# change data type of column or a series

ds = pd.Series([100, 200, 300, 400, 500, 600])

#method 1
num = pd.to_numeric(ds)

# method 2
flt = ds.astype(float)

print(ds)
print(num)
print(flt)

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64
0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64
0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
5    600.0
dtype: float64

### #8

In [37]:
#convert first col of dataframe to a series

d = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]])
df = pd.DataFrame(data = d)

print(df)

col1 = df.iloc[:,0]

ds = pd.Series(col1)

print(col1)
print(ds)

#they tried to get me to use the df.ix() method, but that has been deprecated. now loc and iloc are
#used.

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
0     1
1     6
2    11
Name: 0, dtype: int32
0     1
1     6
2    11
Name: 0, dtype: int32

### #9

In [43]:
#convert give Series to and array

ds = pd.Series([100, 200, "python", 300.12, 400])

arr = np.array(ds)

print(arr)

#HAH! didn't need to look anything up, I have mastered computers

[list([100, 200, 'python', 300.12, 400])]

### #10

In [47]:
#convert series of lists to one series

ds = pd.Series([["red", "green", "blue"], ["white", "black"], [1,2,3,4]])

print(ds)

series = ds.apply(pd.Series).stack().reset_index(drop=True)

print(series)

0    [red, green, blue]
1        [white, black]
2          [1, 2, 3, 4]
dtype: object
0      red
1    green
2     blue
3    white
4    black
5        1
6        2
7        3
8      4.0
dtype: object

### #11

In [17]:
# sort a series

ds = pd.Series([100, 200, 300.12, 400, 110, 210])

type(ds)

sort1 = pd.Series(ds).sort_values()
print(sort1)

#ok, this was a bad problem. the sort_values() only works if all elemnts in series are the
#same type. cannot sort ints/floats and strings. however, if any floats present, all output
#will be float.

0    100.00
4    110.00
1    200.00
5    210.00
2    300.12
3    400.00
dtype: float64

### #12

In [27]:
#add data to a series

ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([6,7,8,9,10])

ser2 = ser2.append(ser1)

print(ser2)

0     6
1     7
2     8
3     9
4    10
0     1
1     2
2     3
3     4
4     5
dtype: int64